@using AJKIOT.Shared.Models.DeviceFeatures
@using AJKIOT.Web.Translations
@using Blazorise

@if (Schedule != null)
{
    <div class="card">
        <div class="card-header" style="text-align:center; background-color: seagreen">
            @Weekday.GetDayOfWeek(DayNumber, "EN")!.Name
        </div>
        <div class="card-body">
            @foreach (var entry in Schedule.OrderBy(e => e.EntryNumber))
            {
                <div>
                    Entry #@entry.EntryNumber: @entry.StartTime.ToString(@"HH\:mm") - @entry.EndTime.ToString(@"HH\:mm")
                    <Button Color="Color.Primary" Size="Size.Small" Outline @onclick="() => RemoveScheduleEntry(entry)"><Icon Name="IconName.MinusCircle" /></Button>
                </div>
            }
        </div>
        <div class="card-footer">
            <div>
                <div class="row">
                    <div class="col-5">
                        <TimePicker TValue="TimeSpan?" @bind-Time="@newStartDateTime" TimeAs24hr="true" />
                    </div>
                    <div class="col-5">
                        <TimePicker TValue="TimeSpan?" @bind-Time="@newEndDateTime" TimeAs24hr="true" />
                    </div>
                    <div class="col-2">
                        <Button Color="Color.Primary" Outline @onclick="AddScheduleEntry"><Icon Name="IconName.PlusCircle" /></Button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public int DayNumber { get; set; }

    [Parameter]
    public List<DailyScheduleEntry> Schedule { get; set; }

    [Parameter]
    public EventCallback<List<DailyScheduleEntry>> OnScheduleChanged { get; set; }

    private TimeSpan? newStartDateTime = TimeSpan.Parse("07:00");
    private TimeSpan? newEndDateTime = TimeSpan.Parse("08:00");

    protected override void OnInitialized()
    {
        if (Schedule == null)
        {
            Schedule = new List<DailyScheduleEntry>();
        }
        else
        {
            Schedule = Schedule.Where(d => d.DayNumber == DayNumber).OrderBy(e => e.EntryNumber).ToList();
        }
    }

    private async Task AddScheduleEntry()
    {
        if (Schedule.Any())
        {
            var lastEntry = Schedule.LastOrDefault();
            if (newStartDateTime <= lastEntry?.EndTime.ToTimeSpan())
            {
                // Logika obsługi błędów, np. wyświetlić komunikat
                return;
            }
        }

        var newEntryNumber = 1;
        if (Schedule.Any())
        {
            newEntryNumber = Schedule.Max(entry => entry.EntryNumber) + 1;
        }

        Schedule.Add(new DailyScheduleEntry
            {
                DayNumber = DayNumber,
                EntryNumber = newEntryNumber,
                StartTime = TimeOnly.FromTimeSpan((TimeSpan)newStartDateTime),
                EndTime = TimeOnly.FromTimeSpan((TimeSpan)newEndDateTime),
            });
        newStartDateTime = newEndDateTime?.Add(TimeSpan.FromHours(1));
        newEndDateTime = newStartDateTime?.Add(TimeSpan.FromHours(1));
        await OnScheduleChanged.InvokeAsync(Schedule);
    }

    private async Task RemoveScheduleEntry(DailyScheduleEntry entry)
    {
        Schedule.Remove(entry);
        await OnScheduleChanged.InvokeAsync(Schedule);
    }
}

