@using AJKIOT.Shared.Models
@using System.Text.Json
@using AJKIOT.Shared.Models.DeviceFeatures
@using AJKIOT.Shared.Requests
@using AJKIOT.Web.Services
@using Blazorise
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IApiService Api
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (errorMessage != string.Empty)
{
    <Alert Color="Color.Danger" Visible>
        <AlertMessage>
            @errorMessage
        </AlertMessage>
    </Alert>
}

@if (!scheduleMode)
{
    <div class="card">
        <div class="card-header d-flex justify-content-center">
            @if (editing)
            {
                <TextEdit @bind-Text="@IotDevice!.DeviceName" OnValueChanged="OnEditDeviceName" />
                <Tooltip Text="Save">
                    <Button Class="btn btn-outline-primary" @onclick="@OnSaveButton"><Icon Name="IconName.Save" /></Button>
                </Tooltip>
                <Tooltip Text="Cancel">
                    <Button Class="btn btn-outline-danger" @onclick="@OnCancelButton"><Icon Name="IconName.Times" /></Button>
                </Tooltip>
            }
            else
            {
                <h4 class="card-title">@IotDevice!.DeviceName</h4>
            }
        </div>
        <div class="card-body">
            <Alert Color="Color.Info" Visible>
                <AlertMessage>
                    Device ID: @IotDevice.Id
                </AlertMessage>
            </Alert>
            @foreach (var feature in features)
            {
                <Alert Color="@(feature.Value == 1 ? Color.Success : Color.Default)" Visible>
                    <AlertMessage>
                        Status : @(feature.Value == 1 ? "ON" : "OFF")
                    </AlertMessage>
                </Alert>
                switch (feature.Type)
                {
                    case "Switch":
                        <OnSwitch Feature="feature" IsOnChanged="ToggleDeviceStatus"></OnSwitch>
                        break;
                    case "OpenTimer":
                        <OpenTimer Feature="feature" IsOnChanged="ToggleDeviceStatus"></OpenTimer>
                        break;
                }
            }

        </div>
        <div class="card-footer d-flex justify-content-end">
            @if (IotDevice.IsScheduleAvailable())
            {
                <Tooltip Text="Add schedule">
                    <Button Class="btn btn-outline-primary me-2" onclick="@(() => OnScheduleButton())"><Icon Name="IconName.Calendar" /></Button>
                </Tooltip>
            }
            <Tooltip Text="Download firmware">
                <Button Class="btn btn-outline-secondary me-2" onclick="@(() => OnDownloadButton())"><Icon Name="IconName.Download" /></Button>
            </Tooltip>
            <Tooltip Text="Edit">
                <Button Class="btn btn-outline-success me-2" onclick="@(() => OnEditButton())"><Icon Name="IconName.Edit" /></Button>
            </Tooltip>
            <Tooltip Text="Delete">
                <Button Class="btn btn-outline-danger" onclick="@(() => OnDeleteButton())"><Icon Name="IconName.Delete" /></Button>
            </Tooltip>
        </div>
    </div>
}
else
{
    <DailySchedule WeekSchedules="@IotDevice!.GetSchedule().ToList()" OnScheduleChanged="@OnScheduleChanged" DeviceId="IotDevice!.Id"></DailySchedule>
}
@if (deleting)
{

}



@code {
    [Parameter]
    public IotDevice? IotDevice { get; set; }

    private List<DeviceFeature> features = new List<DeviceFeature>();
    private bool scheduleMode { get; set; }
    private bool isOn { get; set; }
    private bool editing { get; set; } = false;
    private bool deleting { get; set; } = false;
    private List<DailyScheduleEntry> deviceSchedule { get; set; } = new List<DailyScheduleEntry>();
    private string errorMessage { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<IotDevice> OnDeviceChanged { get; set; }
    [Parameter]
    public EventCallback<int> OnDeviceDeleted { get; set; }

    private async Task OnScheduleChanged(List<DailyScheduleEntry> dailyScheduleEntries)
    {
        if (dailyScheduleEntries != null && IotDevice != null)
        {
            IotDevice.SetSchedule(dailyScheduleEntries);
            await SaveDeviceData();
            deviceSchedule = dailyScheduleEntries;
        }
        scheduleMode = false;
        await Task.CompletedTask;
    }

    private void OnEditButton()
    {
        editing = true;
    }

    private async Task OnSaveButton()
    {
        await SaveDeviceData();
        editing = false;
    }

    private void OnCancelButton()
    {
        editing = false;
    }
    private async Task OnDeleteButton()
    {
        try
        {
            var apiResponse = await Api.DeleteDeviceAsync(IotDevice!.Id);
            if (apiResponse.IsSuccess)
            {
                await OnDeviceDeleted.InvokeAsync(IotDevice.Id);
            }
            else
            {
                errorMessage = string.Join(", ", apiResponse.Errors);
            }
        }
        catch (UnauthorizedAccessException)
        {
            GoToLogIn();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    private void OnDownloadButton()
    {
        // Add logic here for downloading
    }

    private async Task SaveDeviceData()
    {
        try
        {
            var apiResponse = await Api.UpdateDeviceAsync(new UpdateDeviceRequest { Device = IotDevice! });
            if (!apiResponse.IsSuccess)
            {
                errorMessage = string.Join(", ", apiResponse.Errors);
            }
            else
            {
                IotDevice = apiResponse.Data;
            }
        }
        catch (UnauthorizedAccessException)
        {
            GoToLogIn();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }

    }

    private async Task ToggleDeviceStatus(DeviceFeature feature)
    {
        IotDevice!.DeviceFeaturesJson = JsonSerializer.Serialize(features);
        await OnDeviceChanged.InvokeAsync(IotDevice);
        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        features = JsonSerializer.Deserialize<List<DeviceFeature>>(IotDevice!.DeviceFeaturesJson)!;
        if (IotDevice.IsScheduleAvailable())
            deviceSchedule = IotDevice.GetSchedule().ToList();
    }

    private async Task OnScheduleButton()
    {
        scheduleMode = true;
        await Task.CompletedTask;
    }

    private void GoToLogIn()
    {
        var customProvider = AuthenticationStateProvider as CustomAuthenticationStateProvider;
        customProvider!.NotifyUserLogout();
        NavigationManager.NavigateTo("/Account/Login");
    }
}
